<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <appSettings>
        <add key="device-simulation.device-types-folder" value="./data/DeviceTypes/" />
        <add key="device-simulation.device-types-behavior-folder" value="./data/scripts/" />
    </appSettings>
    <akka>
        <hocon>
            <![CDATA[
                # NOTE: this configuration block is in HOCON format [1][2].
                #       [1] http://getakka.net/docs/concepts/hocon
                #       [2] https://en.wikipedia.org/wiki/HOCON
                #       By convention property names are lowercase.
                #       By convention env. variable name are uppercase.

                akka {
                  # Options: OFF, ERROR, WARNING, INFO, DEBUG
                  loglevel: INFO

                  # Suppresses warning about usage of the default (JSON.NET) serializer
                  # which is going to be obsoleted at v1.5
                  # http://getakka.net/docs/Serialization#how-to-setup-hyperion-as-default-serializer
                  suppress-json-serializer-warning: on
                }
              ]]>
        </hocon>
    </akka>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
